:root {
  --headerHeight: 60px;
}

@font-face {
  font-family: 'SF UI Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Thin'), url('../../assets/fonts/sf-ui-display-light.woff') format('woff');
}

html {
  height: 100%;
  overflow: hidden;
  font-family: "SF UI Display Thin" !important;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%
}

a:hover {
  text-decoration: none
}

.AppContainer {
  position: relative;
  top: var(--headerHeight);
  height: calc(100% - var(--headerHeight));
  overflow: scroll;
  overflow-x: hidden;
}
