{
    "presets": [
      "@babel/react",
      "@babel/env"
    ],
    "plugins": [
      "@babel/plugin-transform-react-jsx",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-proposal-class-properties",
      [
        "react-css-modules",
        {
          "webpackHotModuleReloading": true
        }
      ]
    ]
}