@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

.spinnerBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.circleBorder {
  width: 150px;
  height: 150px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
  background: linear-gradient(0deg, rgba(252, 252, 252, 0.1) 50%, #ee6e73 100%);
  animation: spin .8s linear 0s infinite;
}

.circleCore {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
}
