.imgContainer {
  box-sizing: border-box;
  background-size:cover;
  
  height: 300px;
  overflow: hidden;
  position: relative;
}

.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  margin-right: 0px !important;
  margin-left: 0px !important;
}