:root {
  --headerHeight: 60px;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%
}

a:hover {
  text-decoration: none
}

.AppContainer {
  margin-top: var(--headerHeight);
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
}

main {
  height: 90%;
}
