:local .post {
  padding-top: 1em;
  padding-left: 1em;
}

:local .footer {
  display: flex;
  align-items: center;
}

:local .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start
}

:local .text {
  max-height: 144px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
}

:local .assessment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2em;
}

:local .cursorPointer {
  cursor: pointer;
}

:local .totalLikes {
  text-align: center;
  width: 2em
}

:local .comments {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  cursor: pointer;
  padding: 0px;
}

:local .comments:hover {
  color: #ee6e73;
}

:local .headerFontSize {
  font-size: 1.5rem;
}

:local .imgContainer {
  background-repeat: no-repeat;
  background-position-x: center;
  vertical-align: 50%;
  overflow: hidden;
  padding-top: 0.25em;
}

:local .spanText {
  padding-left: 0.3em;
  font-size: 1.2rem;
}

:local .noTop {
  padding-top: 0px;
  margin-top: 0px;
}

:local .noBottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

:local .headerFlex {
  display: flex;
}

:local .headSpacer {
  flex-grow: 8
}